.dashboard-feed {
  display: flex;
  flex-flow: column;
  border-radius: 7px;
  margin-top: 30px;
  margin-left: 0px;
  width: 55vw;
}

.dashboard-current {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  border-radius: 7px;
}

.current-posts {
  display: flex;
  flex-flow: row;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.current-post {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: #f6f5f7;
  margin: 10px;
  margin-left: 5px;
  padding: 10px;
  border-radius: 7px;
  width: 15vw;
}

.current-post-info {
  display: flex;
  flex-flow: column;
  gap: 5px;
  margin-bottom: 20px;
}

.status-button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

.dashboard-recommended {
  padding: 10px;
  padding-top: 15px;
}

.dashboard-searchbar-div {
  display: flex;
  flex-grow: 1;
}

.dashboard-search-bar {
  display: flex;
  flex-grow: 1;
  border-color: white;
  border: none;
  outline: none;
  padding: 20px;
  margin: 10px;
  margin-bottom: 25px;
  border-radius: 7px;
}

.feed-posts {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  gap: 10px;
}

.feed-post {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.feed-post-button {
  background: #670dc2;
  padding: 10px;
  border-radius: 7px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
}